* {
    margin: 0;
    padding: 0;
}

.title img {
    display: block;
    filter: blur(5px);
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: rgb(0, 130, 255);
    text-shadow: 0 0 5px white;
}

.swiper-container {
    width: 100%;
    height: 500px;
    padding-top: 120px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 20px;
}

/* 分页总体 */
.page {
    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* 标题板块 */
.title {
    height: 800px;
    overflow: hidden;
}

.title p {
    display: inline-block;
    margin-top: 300px;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 10px black;
    text-align: center;
}

/* 分页1 - 骚话 */
.page1 {
    background-image: linear-gradient(to right, rgba(0, 162, 255, 0.4), rgba(255, 0, 255, 0.2)), url(../images/bg1.jpg);
}

.swiper-container-lovexhj1 {
    width: 550px;
}

.page1-lovexhj1 img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.page1 .right {
    border-bottom: 1px solid black;
    line-height: 50px;
    font-size: 15px;
}

.page1 .cat {
    width: 150px;
}

.catText {
    font-size: 13px;
    color: gray;
}

/* 分页2 - 时间轴 */
.page2 {
    background-image: linear-gradient(to right, rgba(0, 162, 255, 0.4), rgba(255, 0, 255, 0.2)), url(../images/bg2.jpg);
}

.swiper-container-lovexhj2 
.swiper-wrapper 
.swiper-slide {
    width: 400px;
    border-radius: 0;
}

.page2-box {
    width: 300px;
    height: 100%;
    padding-top: 100px;
}

.page2-box img {
    width: 150px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* 分页3 - 一段话 */
.page3 {
    background-image: linear-gradient(to right, rgba(0, 162, 255, 0.4), rgba(255, 0, 255, 0.2)), url(../images/bg3.jpg);
    padding-top: 200px;
    height: 700px;
}

#talkToXHJ {
    width: 750px;
    padding: 50px 100px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    border-radius: 20px;
    color: white;
    text-shadow: 0 0 3px black;
}

#talkToXHJ b {
    font-size: 25px;
}

#talkToXHJ p {
    font-size: 20px;
}

/* 分页4 - 结尾 */
.page4 {
    background-image: linear-gradient(to right, rgba(0, 162, 255, 0.4), rgba(255, 0, 255, 0.2)), url(../images/bg4.jpg);
}

.page4-box {
    width: 1100px;
    height: 500px;
    margin: 0 auto;
    /* background-color: red; */
}

.page4-img {
    float: left;
    width: 400px;
    overflow: hidden;
    /* background-color: blue; */
}

.swiper-container-lovexhj3 {
    margin-top: 60px;
    height: 500px;
}

.swiper-container-lovexhj3 
.swiper-wrapper 
.swiper-slide {
    width: 100%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0);
}

.swiper-container-lovexhj3 
.swiper-wrapper 
.swiper-slide 
img {
    height: 90%;
    border-radius: 20px;
}

.page4-text {
    float: left;
    width: 450px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 50px;
    color: white;
    text-shadow: 0 0 10px black;
    margin: 270px 0 0 100px;
}

.page4-text h1 {
    margin-bottom: 20px;
}

/* 底部版权 */
.footer {
    width: 100%;
    height: 260px;
    position: relative;
}

.footerBox {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
    text-shadow: 0 0 5px black;
}

/* 两只XHJ一样的猪 */
.xhjIsPig .pig1,
.pig2 {
    position: fixed;
    z-index: 99;
    width: 150px;
}

.xhjIsPig .pig1 {
    right: -10px;
    bottom: 0;
    transform: rotate(-25deg);
    animation: xhjPigRun1 2s infinite;
}

.xhjIsPig .pig2 {
    left: -30px;
    bottom: 0;
    transform: scaleX(-1) rotate(-90deg);
    animation: xhjPigRun2 5s infinite;
}

@keyframes xhjPigRun1 {
    0% {
        transform: scale(1) rotate(-25deg);
    }

    50% {
        transform: scale(1.2) rotate(-25deg);
    }

    100% {
        transform: scale(1) rotate(-25deg);
    }
}

@keyframes xhjPigRun2 {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 20%;
    }

    100% {
        bottom: 0;
    }
}

/* 自适应 */
@media screen and (max-width: 1060px) {
    .page3 {
        padding-top: 80px;
    }

    #talkToXHJ {
        width: 500px;
        padding: 50px 50px;
    }

    .page4-box {
        width: 700px;
    }

    .page4-img {
        width: 240px;
    }

    .page4-text {
        width: 330px;
        margin: 270px 0 0 30px;
    }

    .page4-text h1 {
        margin-bottom: 20px;
        font-size: 25px;
    }
}

@media screen and (max-width: 730px) {
    .title p {
        font-size: 30px;
    }

    .swiper-container {
        padding-top: 150px;
    }

    .swiper-container-lovexhj1 {
        width: 400px;
        height: 500px;
    }

    .page2-box {
        width: 240px;
        padding-top: 80px;
    }

    .swiper-container-lovexhj2 {
        height: 450px;
    }

    .page2-box p {
        font-size: 16px;
    }

    .page3 {
        padding-top: 100px;
        height: 800px;
    }

    #talkToXHJ {
        width: 350px;
        padding: 30px 30px;
    }

    #talkToXHJ b {
        font-size: 23px;
    }
    
    #talkToXHJ p {
        font-size: 15px;
    }

    .page4 {
        height: 1100px;
    }

    .page4-box {
        width: 400px;
    }

    .page4-img {
        width: 100%;
    }

    .swiper-container-lovexhj3 
    .swiper-wrapper 
    .swiper-slide 
        img {
        height: 100%;
        border-radius: 20px;
    }

    .page4-text {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
    }

    .page4-text h1 {
        margin-bottom: 20px;
        font-size: 25px;
    }

    .footer {
        height: 560px;
    }

    .xhjIsPig .pig1,
    .pig2 {
        width: 130px;
    }

    .xhjIsPig .pig2 {
        left: -25px;
    }
}

@media screen and (max-width: 426px) {
    .title p {
        font-size: 30px;
        margin-top: 260px;
    }

    .swiper-container {
        padding-top: 150px;
    }

    .swiper-container-lovexhj1 {
        width: 90%;
        height: 500px;
    }

    .page1-lovexhj1 {
        font-size: 15px;
    }

    .page1-lovexhj1 img {
        width: 70px;
    }

    .page1 .cat {
        width: 120px;
    }

    .page2-box {
        width: 240px;
        padding-top: 80px;
    }

    .swiper-container-lovexhj2 {
        width: 80%;
        height: 500px;
    }

    .page2-box p {
        font-size: 16px;
    }

    .page3 {
        padding-top: 100px;
        height: 900px;
    }

    #talkToXHJ {
        width: 80%;
        padding: 20px 10px;
    }

    #talkToXHJ b {
        font-size: 23px;
    }
    
    #talkToXHJ p {
        font-size: 15px;
    }

    .page4 {
        height: 1100px;
    }

    .page4-box {
        width: 90%;
    }

    .page4-img {
        width: 100%;
    }

    .swiper-container-lovexhj3 
    .swiper-wrapper 
    .swiper-slide 
        img {
        height: 100%;
        border-radius: 20px;
    }

    .page4-text {
        width: 85%;
        margin: 0 auto;
        padding: 20px;
    }

    .page4-text h1 {
        margin-bottom: 20px;
        font-size: 25px;
    }

    .footer {
        height: 560px;
    }

    .xhjIsPig .pig1,
    .pig2 {
        width: 80px;
    }

    .xhjIsPig .pig2 {
        left: -15px;
    }
}